/*link to coolors:
    https://coolors.co/a9dbb1-88ba98-a9c7b7
*/

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: #f5f4f3;
}

.navbar {
    /*background: rgb(69, 219, 177);*/
    background: #88BA98;
}

.footer {
    background: #88BA98;
}